
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@font-face {
  font-family: myFirstFont;
  src: url(sansation_bold.woff);
  font-weight: bold;
}
body {
    background-color: powderblue;
  }
  .header {
    background: rgb(103, 135, 145);
    color: black;
    padding: 1%;
    margin: 1%;
    border: 2px solid darkblue;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
  }
  .logo {

background-image: url("");
 background-color: #cccccc;

  

  }
  .nav_bar {


  }
  .shop-items {
    background: aliceblue;
    color: crimson;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: baseline;
  }
.hero {
  background: rgb(192 201 204);
    color: #677db1;
    padding: 25%;
    margin: 3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;

    border: 2px solid darkblue;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
}
button {
  color: blueviolet;
    font-family: serif;
    font-size: xxx-large;
    display: flex;
    justify-content: center;
    border: cornsilk;
    align-content: center;
    flex-direction: row-reverse;
}
img {
  
}