
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@font-face {
  font-family: myFirstFont;
  src: url(sansation_bold.woff);
  font-weight: bold;
}
body {
    background-color: powderblue;
  }
  .header {
    background: rgb(255, 255, 255);
    color: black;
    padding: 1%;
    margin: 1%;
    border: 2px solid darkblue;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
  }
  .logo {
  

  width: 1px;
  height: 1px;
  background-color: #cccccc;
  color: aliceblue;
  border: 2px solid #cccccc


  

  }
  .nav_bar {
    background-color: #fefbfb;
    color: aliceblue;
    border: 2px solid #cccccc

  }
  .shop-items {
    background: aliceblue;
    color: crimson;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: baseline;
  }
.hero {
  background: rgb(192 201 204);
  background-image: url(https://images.unsplash.com/photo-1500622944204-b135684e99fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmF0dXJhbHxlbnwwfHwwfHw%3D&w=1000&q=80);
    color: #d2d6e0;
    padding: 20%;
    margin: 1%;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    opacity: 0.5;
    

    border: 2px solid darkblue;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
    bottom: 10%;
}
button {
  color: rgb(214, 193, 234);
    font-family: serif;
    font-size:xx-large;
    display: flex;
    justify-content: center;
    border: cornsilk;
    align-content: center;
    flex-direction: row-reverse;
}
a {
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace
  
}
.class{
  background: rgb(192 201 204);
  background-image: url(https://images.unsplash.com/photo-1500622944204-b135684e99fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmF0dXJhbHxlbnwwfHwwfHw%3D&w=1000&q=80);
    color: #d2d6e0;
    padding: 20%;
    margin: 1%;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;

    border: 2px solid darkblue;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
    bottom: 10%;
}